.recipes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    padding: 16px;
    overflow-y: auto;
}

.recipe-card {
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /*transition: transform 0.2s;*/
}

.recipe-card:hover {
    transform: translateY(-5px);
}

.recipe-image {
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.recipe-name {
    padding: 16px;
    text-align: center;
    font-size: 1.2rem;
    color: black;
}

.logout {
    align-self: center;

}

.button-grid {
    display: grid;
        grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
        gap: 10px;
}
.delete-button {
    background: red;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

.delete-button:hover {
    background: darkred;
}

.edit-button {
    background: green;
    color: white;
    border: none;
    padding: 10px;
    
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

.edit-button:hover {
    background: darkgreen;
}

@media (max-width: 600px) {
    .recipe-name {
        font-size: 1rem;
    }
}

.layout-header {
    background-color: white;
    color: green;
    font-size: 2rem;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    top: 0;
    position: sticky;
}

.layout-header nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.layout-header a {
    color: green;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.layout-header a:hover {
    color: darkgreen;
}

.content {
    flex: 1;
}

.mainContainer {
    min-height: 100vh;
    background: linear-gradient(to right, #97e75b, #1ab63e);
    color: white;
    position: relative;
    display: felx;
    flex-direction: column;
}

.layout-footer {
    font-size: 1.5rem;
    background-color: darkgreen;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}

.recipes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    padding: 16px;
}

.recipe-card {
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /*transition: transform 0.2s;*/
    overflow: hidden;
}
/*
.recipe-card:hover {
    transform: translateY(-5px);
}
*/
.recipe-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
}

.recipe-name {
    padding: 16px;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
}

.recipe-card p {
    padding: 0 16px 16px;
    font-size: 1rem;
    color: #555;
}

.recipe-details {
    max-width: 600px;
    margin: auto;
    padding: 16px;
}

.recipe-details img {
    width: 100%;
    height: auto;
}

a {
    text-decoration:none;
}